---

type: project
short: jart
title: JART
github: https://github.com/billybrown/jart
images:
- 1.jpg
- 2.jpg
- 3.jpg
- 4.jpg
- 5.jpg
videos: 
- http://player.vimeo.com/video/117345035
---

<section class="about-section">
	<h1>{{title}}</h1>
	<p>Raspberry Pi and python to start, stop, and rewind an audio recording by pressing a single button. The button also has an LED in it that blinks and goes solid depending on if the audio is playing. Installed in a sculpture by <a href='http://jessievogel.com'>Jessica Vogel</a>.</p>
	<p class="github"><a href="{{github}}" target="_blank">on github</a></p>
</section>

{{> imageList}}
{{> back-section}}