---

type: project
short: maketimeclub
title: maketime.club
github: https://github.com/billybrown/maketimeclub
images:
- 1.png
---

<section class="about-section">
	<h1>{{title}}</h1>
	<p>A website to document the projects of Make Time Club. Uses Assemble to generate a static site thats uploaded on github pages.</p>
	<p class="github"><a href="{{github}}" target="_blank">on github</a></p>
</section>

{{> imageList}}
{{> back-section}}