/////////////////////////////////////-+++-/////////////////////////////////////////
// type
/////////////////////////////////////-+++-/////////////////////////////////////////


// extends
///////////////////////////////////////////

%box-blueborder {
	padding: 20px;
	text-align: center;
	font-weight: 600;
	border: 2px dotted $text;
}

%box-whiteborder {
	padding: 20px;
	text-align: center;
	font-weight: 600;
	border: 2px dotted $background;
}

// links
///////////////////////////////////////////


a,
.fakeLink {
	color: $link-color;
	text-decoration: none;
	border: 1px dotted $text;
	padding: 2px 6px 3px;
	margin: 0 3px;

	&:hover {
		cursor: pointer;
		background: $text;
		color: $background;
		border-style: solid;
	}
}



// headers
///////////////////////////////////////////


.header {
	font-size: 20px;
	line-height: 30px;
	font-size: 20px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 7px;
}

.header-image {
	font-size: 29px;
	line-height: 34px;

	@media (min-width: $teen-bp) {
		line-height: 60px;
		font-size: 70px;
	}
}



// tags
///////////////////////////////////////////


.tag,
.post-meta {
	font-size: 10px;
	line-height: 12px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
}

