/////////////////////////////////////-+++-/////////////////////////////////////////
// Global Variables
/////////////////////////////////////-+++-/////////////////////////////////////////



/////////////////////////////////////-+++
// fonts

$montserrat			: 'Montserrat';

$serif				: $georgia;
$sans-serif			: $montserrat, $helvetica;


/////////////////////////////////////-+++
// colors


$gray-dark			: darkgray;
$gray				: gainsboro;
$gray-light			: snow;

$background			: snow;
$text				: cornflowerblue;

$link-color			: $text;
$link-hover-color	: darken($link-color, 10%);



/////////////////////////////////////-+++
// breakpoints


$small-bp: $iphone-6plus;
$teen-bp: $ipad-1;
$medium-bp: $chromebook;
$large-bp: $imac-21;



/////////////////////////////////////-+++
// Misc. values


$page-max-width: 800px;
$page-element-spacing: 20px;
