/////////////////////////////////////-+++-/////////////////////////////////////////
// Header area styles
/////////////////////////////////////-+++-/////////////////////////////////////////



.mainHeader {
	@media (min-width: $small-bp) {
		margin: 90px 0 70px;
	}
}

.pageTitle {
	text-transform: uppercase;
	text-align: center;
	max-width: 600px;
	margin: 40px auto;
	font-weight: 900;
	letter-spacing: 10px;
	font-size: 51px;
	line-height: 60px;
	//text-shadow: 0 0 3px rgba(0,0,0,.2);

	@media (min-width: $small-bp) {
		font-size: 100px;
		line-height: 41px;
	}

	.make,
	.time,
	.club {
		position: relative;
		margin: 0;
		transition: margin .2s ease;

	}

	.make {
		left: -26px;
	}

	.time {
		left: 39px;
	}

	.club {
		left: 1px;
	}

	a {
		padding: 0;
		border: none;

		&:hover {
			background: none;
			color: $text;
			.make {
				margin-left: -80px;
			}
			.time {
				margin-left: 60px;
			}
			.club {
				margin-left: -70px;
			}
		}
	}
}