/////////////////////////////////////-+++-/////////////////////////////////////////
// List of content
/////////////////////////////////////-+++-/////////////////////////////////////////


.contentList {

	ol {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

.contentList-header {
	margin-bottom: 40px;
	text-align: center;
}


.imageList {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}
