/////////////////////////////////////-+++-/////////////////////////////////////////
// images
/////////////////////////////////////-+++-/////////////////////////////////////////

.image-wrapper {
    text-align: center;
    position: relative; 
    margin-bottom: 40px;

    .image-caption {
        color: white;
        position: absolute; 
        bottom: -13px; 
        left: 0; 
        width: 100%; 
  
        background: rgb(0, 0, 0); /* fallback color */
        background: rgba(0, 0, 0, 0.6);
        padding: 5px; 
    }

}
