---
layout: default
---
<article class="post">

    <header class="about-section">

        <h1 class="post-title">{{ page.title }}</h1>
        <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>

        <div class="description">{{ content }}</div>
        {% if page.github %}
            <p class="github"><a href="{{page.github}}" target="_blank">on github</a></p>
        {% endif %}
        <ul class="tags">
            {% for tag in page.tags %}
                <li><span class="tag">{{ tag }}</span></li>
            {% endfor %}
        </ul>
    </header>

    <div class="imageList">
<!--         <h1 class="header contentList-header">Images:</h1> -->
        <ul>
            {% for external in page.externals %}
                <li>
                    <img src="{{ external }}" alt=""/>
                </li>
            {% endfor %}

            {% for image in page.images %}
                <li>
                    <div class="image-wrapper" >
                        <img src="../../../img/projects/{{page.short}}/{{ image.path }}" title="{{ image.title }}" alt=""/>
                        {% if image.caption %}
                        <p class="image-caption">{{ image.caption }}</p>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}

            {% for video in page.videos %}
                <li>
                    <iframe src="{{ video }}" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </li>
            {% endfor %}

            {% for embed in page.embeds %}
                 <li>
                     {{ embed }}
                 </li>
            {% endfor %}

            
        </ul>
    </div><!--/.imageList-->

    <section class="back-section">
        <a href="/">Back to all projects</a>
    </section><!--/.back-section-->

</article>